:root {
  font-size: 21px;
}


html,
body,
main,
textarea {
  height: 100vh;
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-flow: row wrap;
}

main div.editor {
  width: calc(100%/3);
}

main div.viewport {
  width: calc(100% * 3/s)
}

textarea {
  width: 100%;
  background-color: #ccc;
  font-size: .6rem;
  padding: .5rem;
}
